.taskList {
    width: 500px;
  }
  
  #firstMsg {
    margin: 15px;
  }
  
  .task {
    display: flex;
    align-items: center;
    border: 1px solid rgb(161, 159, 159);
    padding: 5px 8px;
    margin: 20px 7px;
  }
  
  .task p {
    margin-left: 15px;
  }
  
  .completed {
    background-color: rgb(21, 223, 21);
    color: rgb(27, 13, 226);
  }
  
  .completed p {
    text-decoration: line-through;
  }
  
  .inputPanel {
    width: 500px;
    margin: 2px;
    padding: 6px;
  }
  
  .inputPanel button {
    padding: 4px;
    width: 25%;
  }
  
  .inputPanel input {
    height: 21px;
    width: 69%;
  }